.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.scrollSideBar {
    scrollbar-color: #091e4224 #091e420f;
    scrollbar-width: thin;
    overflow-x: hidden;
    overflow-y: auto;
}

.scrollListToDo::-webkit-scrollbar {
    width: 10px;
}

.scrollListToDo::-webkit-scrollbar-track {
    background: #5e8fe33b;
}

.scrollListToDo::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, #4166a2, #568736);
    border-radius: 12px;
}

.scrollListToDo::-webkit-scrollbar-thumb:hover {
    background: #445333;
}
